//###########################
//CHAT BOX###################
.chat {
  height: 100%;
  width: 100%;
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__box {
    height: 100%;
    width: 100%;
    padding: 0.3rem 1rem;
    // border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }

  &__window {
    // border: 0.1rem solid black;
    overflow: scroll;
    flex: 0 0 80%;
  }

  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;

    textarea {
      flex: 0 0 60%;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    input {
      flex: 1;
      align-self: flex-end;
      width: 30%;
      margin: 0.5rem;
    }
  }
}

//#######################
//##### R O O M S ########
.rooms {
  position: relative;
  height: 100%;
}

.modalOn {
  background-color: rgba(0, 0, 0, 0.795);
}

//###################
.banner {
  flex: 0 0 40%;
  text-align: center;
}
.board {
  flex: 1;
}

//#####################
//#######M O D A L ####
.modal {
  height: 20rem;
  width: 20rem;
  border: 0.1rem solid black;
  position: absolute;
  right: 0;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: white;
}
