/* Color Theme Swatches in RGBA */
$Spring-Carnival-1-rgba: rgba(177, 0, 8, 1);
$Spring-Carnival-2-rgba: rgba(255, 249, 24, 1);
$Spring-Carnival-3-rgba: rgba(255, 0, 12, 1);
$Spring-Carnival-4-rgba: rgba(20, 137, 204, 1);
$Spring-Carnival-5-rgba: rgba(0, 114, 177, 1);
